<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>База знаний Службы внутреннего аудита</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/categories.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/feedback.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/intro.css">
        <link rel="stylesheet" href="/static/css/search.css">
        <link rel="stylesheet" href="/static/css/sidebar.css">
        <link rel="stylesheet" href="/static/css/tasks.css">

        <script src="/static/js/intro.min.js"></script>
        <script src="/static/js/showdown.min.js"></script>
        <script src="/static/js/variables.js"></script>
    </head>

    <script src="/static/js/tutorial.js"></script>

    <body data-backend-url="{{ backend_url }}">
        <header class="initial-header">
            <div class="header-container">
                <div class="header-logo"><img src="static/images/logo.png"></div>
                <div class="header-text-container">
                    <div class="logo-text">База знаний Службы внутреннего аудита</div>
                    <div class="tagline">
                        Все ответы на ваши вопросы в одном месте.
                        Найдите нужную информацию или поделитесь своими знаниями.
                    </div>
                </div>
                <div class="buttons-container">
                    <div class="theme-toggle" onclick="toggleTheme()">
                        <span id="theme-icon">🌙</span>
                    </div>
                    <div class="intro-btn">
                        <span id="toggle-intro">❓</span>
                    </div>
                </div>
            </div>
        </header>

        <div id="sidebar">
            <div id="sidebar-header">
                <span class="sidebar-text">Ваши вопросы</span>
                <button data-tooltip="Нажмите, чтобы свернуть/развернуть боковую панель" id="left-sidebar-toggle-btn">☰</button>
            </div>
            <button id="new-chat-btn" class="sidebar-new-chat">
                <span class="icon">+</span>
                <span class="text">Новый чат</span>
            </button>
            <div id="sidebar-content"></div>
        </div>

        <div id="base-container">

            <div class="container">
                <div class="main-content-wrapper">
                    <div class="main-content-header">
                        <h1>Поиск по базе знаний</h1>
                        <div id="status" style="font-style: italic;"></div>
                        <div class="handler-select-container">
                            <select id="handler-select" style="width: 300px; padding: 8px;"></select>
                        </div>
                    </div>
                    <div data-tooltip="Тут вы можете ввести свой вопрос, а для отправки нажать Enter или 🔍️"
                         class="search-wrapper">
                        <div class="textarea-wrapper">
                            <textarea id="inputParam" placeholder="Что вас интересует?" autofocus
                                      oninput="autoResize(this)"></textarea>
                        </div>
                        <button class="enqueue-btn" onclick="startTask()">🔍️</button>
                    </div>
                    <div class="divider" id="taskDivider"></div>
                    <div id="tasks">
                        <div class="empty-state" id="emptyState">
                            <p>Нет активных запросов. Задайте вопрос в поле выше.</p>
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="categories">#}
{#                <div class="category-card" onclick="fetchCategory('documentation')">#}
{#                    <div class="category-icon">📚️</div>#}
{#                    <h3 class="category-title">Документация</h3>#}
{#                    <p class="category-desc">Официальная документация по продуктам и сервисам компании</p>#}
{#                </div>#}
{##}
{#                <div class="category-card" onclick="fetchCategory('faq')">#}
{#                    <div class="category-icon">💡️</div>#}
{#                    <h3 class="category-title">Частые вопросы</h3>#}
{#                    <p class="category-desc">Ответы на наиболее популярные вопросы пользователей</p>#}
{#                </div>#}
{##}
{#                <div class="category-card" onclick="fetchCategory('add_article')">#}
{#                    <div class="category-icon">✏️</div>#}
{#                    <h3 class="category-title">Добавить статью</h3>#}
{#                    <p class="category-desc">Поделитесь своими знаниями с коллегами</p>#}
{#                </div>#}
{#            </div>#}

            <div>
                <button class="feedback-btn" onclick="openFeedbackModal()">💬</button>

                <div id="modalOverlay" class="modal-overlay" onclick="closeFeedbackModal()"></div>

                <div id="feedbackModal" class="feedback-modal">
                    <h3>Обратная связь</h3>
                    <textarea id="feedbackText" placeholder="Ваше сообщение..."></textarea>
                    <input id="feedbackContact" type="text" placeholder="Ваши контакты (необязательно)">

                    <div class="buttons">
                        <button class="cancel" onclick="closeFeedbackModal()">Отмена</button>
                        <button onclick="submitFeedback()">Отправить</button>
                    </div>

                    <div class="mail-link">
                        <a href="mailto:support@example.com?subject=Обратная связь">Или напишите нам на почту</a>
                    </div>
                </div>
            </div>

        </div>


        <footer>
            <div class="container">
                <p>© 2025 База знаний Службы внутреннего аудита. Все права защищены.</p>
            </div>
        </footer>
    </body>

    <script src="/static/js/dom_variables.js" defer></script>
    <script src="/static/js/theme.js" defer></script>
    <script src="/static/js/left_sidebar.js" defer></script>
    <script src="/static/js/search_block.js" defer></script>
    <script src="/static/js/feedback.js" defer></script>defer
    <script src="/static/js/main.js" defer></script>
</html>
